/* your styles go here */

.form-inner {
  margin-left : auto;
  margin-right : auto;
}

.table-title {
  font-weight: 300;
}

.content-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.line-break {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.logo {
  font-size: 2em;
  font-weight: 500;
}

.logo span{
  color: #ccc;
}

.copyrights {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
}

.copyrights p {
  font-size: 0.85em;
  font-weight: 400;
  color: #aaa;
}

/* autocompletes */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; cursor: pointer; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #33b35a;  }
.autocomplete-group { padding: 2px 5px; color:#683c9e; font-size: 9.5pt; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/* tab color */
.tab-color {
  height: 0.425rem;
  width : 100%;
  background-color : #33b35a;
  border-radius: 0.250rem;
}

/* custom cursor for cell delete button */
.delete-jadwal {
  cursor: pointer;
}

/* select checkbox column table size*/
.select-checkbox {
  text-align: center;
  width : 80px;
}

/* some font styling */
.custom-modal-title{
  font-family: "Roboto";
  font-size: 18pt;
  font-weight: 300;
}